<form action="/add/" method="post">{% csrf_token %}
    <fieldset>
        {% for field in form %}
        <div class="control-group{% if field.errors %} error{% endif %}">
            {{ field.label_tag }}
            <div class="controls">
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Sauver</button>
        <a href="{% url parole2.admin.views.index %}" class="btn">Annuler</a>
    </fieldset>
</form>
