{% load paroles_extra %}
<section>
  <article class="citation">
    <div id="navigation">
        {% if prev %}<div><a href="{% url paroles.views.parole prev.date|date:'Y' prev.date|date:'m' prev.date|date:'d' prev.author_slug prev.title_slug %}">&laquo;</a></div>{% endif %}
        {% if next %}<div style="text-align:right"><a href="{% url paroles.views.parole next.date|date:'Y' next.date|date:'m' next.date|date:'d' next.author_slug next.title_slug %}">&raquo;</a></div>{% endif %}
    </div>
    <div class="parole"{% if parole.comment %} title="{{ parole.comment }}"{% endif %}>
      <h2>
          {{ parole.title }}
      </h2>
      <blockquote>
      {{ parole.parole }}
      </blockquote>
      <div class="bottom">
          <span class="author">{{ parole.author }}</span>
          <cite>
          {% if parole.source_url %}
              <a href="{{ parole.source_url }}" target="_blank">{{ parole.source_text }}</a>
          {% else %}
              {{ parole.source_text }}
          {% endif %}
          </cite>
        <span class="permalink"><a href="{% absurl paroles.views.parole parole.date|date:'Y' parole.date|date:'m' parole.date|date:'d' parole.author_slug parole.title_slug %}">Permalien</a></span>
      </div>
    </div>
    <div class="discussion">
    {% include 'paroles/disqus.html' with parole=parole %}
    </div>
  </article>
</section>
