{% extends 'admin/layout.html' %}

{% block content %}
<div class="hero-unit">
    <h1>Paroles</h1>
    <blockquote>
        <p>
            Paroles et paroles et paroles /
            Écoute-moi /
            Paroles et paroles et paroles /
            Je t'en prie /
            Paroles et paroles et paroles /
            Je te jure /
            Paroles et paroles et paroles et paroles /
            Paroles et encore des paroles que tu sèmes au vent
        </p>
        <small>Dalida et Alain Delon, 1972</small>
    </blockquote>
    <p><a class="btn btn-primary btn-large" href="{% url admin.views.add %}">Ajouter une nouvelle parole »</a></p>
    <p><a class="btn btn-large" href="http://parole2.disqus.com/admin/moderate/" target="_blank">Modérer les commentaires »</a></p>
</div>
{% if messages %}
<div class="row">
    <div class="span12">
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            <a class="close" data-dismiss="alert">×</a>
            <h4 class="alert-heading">Info</h4>
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="span12">
        {% if paroles_to_publish|length > 0 %}
        <h2>Publication(s) en cours <small>la date saisie à {{ paroles_pub_hour }}</small></h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Parole</th>
                    <th>Commentaire décalé</th>
                    <th>Auteur</th>
                    <th>Source</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for parole in paroles_to_publish %}
                <tr>
                    <td class="parole-title">{{ parole.title }}</td>
                    <td class="parole-parole">{{ parole.parole }}</td>
                    <td class="parole-comment">{{ parole.comment }}</td>
                    <td class="parole-author">{{ parole.author }}</td>
                    <td class="parole-source">{{ parole.source }}</td>
                    <td class="parole-date">{{ parole.date }}</td>
                    <td>
                        <a class="btn btn-small edit-parole" href="{% url admin.views.edit parole.id %}">Editer</a> &dash;
                        <form action="{% url admin.views.delete parole.id %}" method="post" style="display:inline; margin:0;">
                            {% csrf_token %}
                            <input class="btn btn-small btn-danger delete-parole" type="submit" value="Supprimer">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info">
            Aucune parole en cours de publication.
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    $('.delete-parole').click(function(event) {
        return confirm('T\'es sûr de vouloir faire ça ?');
    });
</script>
{% endblock %}
